@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    font-family: "poppines", sans-serif;
}

body {
    background: #44a08d;
}

.wrapper {
    margin: 10px auto;
    padding: 0 110px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

h1 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}

.container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.box {
    height: 260px;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.box img {
    height: 70px;
}

.box h3 {
    color: #444;
    padding: 10px 0;
    font-size: 20px;
}

.box p {
    color: #777;
    font-size: 14px;
    line-height: 1.6;
}

.btn {
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    margin-top: 10px;
    padding: 8px 15px;
    background: #333;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    letter-spacing: 1px;
}

.box:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

@media(max-width:770px) {
    .wrapper {
        padding: 20px;
    }
}